/* branch test */

*{
    margin: 0;
    padding: 0;
    font-family: 'spartan', sans-serif;
    Font-size: 15px;
}

html{
    height: 100vh;
    width: 100vw;
}

body{
    /* position: relative; */
    background: url(/social-proof-section-master/images/bg-pattern-top-mobile.svg) top left no-repeat, url(/social-proof-section-master/images/bg-pattern-bottom-mobile.svg) bottom right no-repeat;
    background-attachment: fixed;
    /* hide scrollbar 
    https://stackoverflow.com/questions/4405954/how-do-i-remove-the-horizontal-scrollbar-in-a-div */
    /* background-size: cover, cover; */
    overflow-x: hidden;
}



#introduction h1{
    width: 275px;
    margin: 80px auto 30px;
    /* margin: 80px 50px 30px 50px; */
    font-size: xx-large;
    text-align: center;
    line-height: 0.95;
    color: hsl(300, 43%, 22%);
}

#introduction p{
    width: 340px;
    margin: 0 auto 40px;
    /* margin: 0 20px 40px 20px; */
    text-align: center;
    line-height: 1.5;
}

#rates{
    margin-bottom: 45px;
    background-color: rgb(188, 226, 153);
}

.rate{
    background-color: hsl(300, 24%, 96%);
    width: 335px;
    margin: 0 auto 15px;
    /* margin: 0 20px 15px 20px; */
    border-radius: 8px;
}

#stars{
    text-align: center;
}

.star{
    padding-top: 15px;
    padding-right: 4px;
    padding-bottom: 10px;
}

.rate p{
    text-align: center;
    padding-bottom: 15px;
    font-size: small;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}

#reviews{
    background-color: rgb(143, 173, 61);
}

.review{
    background-color: hsl(300, 43%, 22%);
    width: 335px;
    margin: 22px;
    border-radius: 10px;
    height: 250px;
}

.title{
    display: flex;
}

.profilPicture{
    border-radius: 50%;
    height: 45px;
    margin-top: 30px;
    margin-left: 30px;
}

.who{
    margin: 30px;
}

.who h2{
    color: hsl(300, 24%, 96%);
    font-size: small;
    line-height: 2.2;
}

.who h3{
    color: hsl(333, 80%, 67%);
    font-size: small;
    font-weight: 400;
}

.review p{
    color: hsl(0, 0%, 100%);
    font-size: small;
    line-height: 1.8;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

@media (min-width: 500px){

    body{
        background: url(/social-proof-section-master/images/bg-pattern-top-desktop.svg) top left no-repeat, url(/social-proof-section-master/images/bg-pattern-bottom-desktop.svg) bottom right no-repeat;
        background-attachment: fixed;
    }
    
    #introduction h1{
        width: 50vw;
        margin: 80px auto 30px;
    }

    #introduction p{
        width: 40vw;
        margin: 0 auto 40px;
    }

    #rates, #reviews{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rate, .review{
        width: 60vw;
    }
}

@media (min-width: 768px){
        /* not working, start at 615px instead  */


    #rates {
        display: flex;
        flex-direction: column; 
        align-items: flex-start;
        justify-content: space-around;
    }
    
    .rate{
        width: 450px;
        margin: 0 20% 15px 20%;
    }

    .rate:nth-child(2){
        align-self: center;
    }
    
    .rate:nth-child(3){
        align-self: flex-end;
    }

    #reviews{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1024px){
    /* not working, start at 780px instead  */
    #container{
        height: 500px;
    }

    #top{
        /* height: 100%; */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    #rates{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 80px auto 15px;
    }
    
    .rate:nth-child(3){
        align-self: flex-end;
    }
    
    .rate{
        width: 310px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .rate p{
        padding-bottom: 0;
    }

    #reviews{
        height: 50%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin: 50px auto 50px;
    }
    
    .review:nth-child(2){
        align-self: center;
    }
    
    .review:nth-child(3){
        align-self: flex-start;
    }

}

@media screen and (min-width: 1439px){
    #container{
        height: 800px;
    }

    
    #top{
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    #introduction{
        height: 100%;
        width: 45%;
    }

    #introduction h1{
        width: auto;
        margin: 134px 80px 16px 165px;
        font-size: 50px;
        letter-spacing: -2.8px;
        text-align: start;
    }

    #introduction p{
        width: auto;
        margin: 0 6px 0 165px;
        text-align: start;
        letter-spacing: -0.4px;
        line-height: 24px;
    }


    #rates{
        width: 55%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;
        padding: 148px 24px 15px 50px;
    }
    
    
    .rate{
        width: 446px;
        height: 55px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 0px;
        margin-left: 82px;
        margin-bottom: 0px;
    }
    
    .rate p{
        padding-bottom: 0;
    }
    
    .rate:first-child{
        margin-left: 72px;
    }

    .rate:nth-child(3){
        align-self: flex-end;
        margin-right: 140px;
    }

    #stars{
        margin-left: 33px;
        margin-right: 29px;
    }

    #reviews{
        height: 50%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin: 50px auto 50px;
    }
    
    .review:nth-child(2){
        align-self: center;
    }
    
    .review:nth-child(3){
        align-self: flex-start;
    }

}